[user]
  email = szuberskidamian@gmail.com
  name = szubersk
  signingkey = 5BA2439DCA1ABF18
[init]
  defaultBranch = master
[advice]
  detachedHead = false
[commit]
  status = true
  verbose = true
  gpgsign = true
[core]
  editor = vim
  whitespace = trailing-space,space-before-tab,cr-at-eol,tab-in-indent,-indent-with-non-tab
  pager = diffr | less -FRX
[color]
  diff = auto
  ui = auto
[http]
  version = HTTP/2
[protocol]
  version = 2
[gc]
  auto = 0
[interactive]
  diffFilter = diffr
[credential]
  helper = cache --timeout=86400
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[fetch]
  prune = true
[format]
  signOff = true
[diff]
  algorithm = histogram
  noprefix = true
[gitreview]
  username = szubersk
  remote = origin
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[lfs]
  locksverify = true
