[user]
  email = szuberskidamian@gmail.com
  name = szubersk
[init]
  defaultBranch = master
[advice]
  detachedHead = false
[commit]
  status = true
  verbose = true
  gpgsign = true
[core]
  editor = vim
  whitespace = trailing-space,space-before-tab,cr-at-eol,tab-in-indent,-indent-with-non-tab
[color]
  diff = auto
  ui = auto
[http]
  version = HTTP/2
  sslVerify = false
[protocol]
  version = 2
[gc]
  auto = 0
[credential]
  helper = cache --timeout=86400
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  algorithm = histogram
  noprefix = true
[pager]
  log = diffr | less -R
  show = diffr | less -R
  diff = diffr | less -R
[gitreview]
  username = szubersk
  remote = origin
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[lfs]
  locksverify = true
